*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80vw;
    height: 80vh;
    margin: 30px;
    margin-left: 100px;
}

.nav{
    display: flex;
}
ul {
    
    overflow: hidden;
    
  }
li{
    
    display: inline;
    
}
li a {
    color: black;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
  }
  .profile{
    display: flex;
    width: 95%;
    
    
     
  }
  .detail2{
      
      padding: 40px;
      padding-bottom: 0px;
      height: 500px;
      width: 450px;
  }
  .add{
      display: flex;
      
      margin-top: 30px;
  }
  .as{
      display: flex;
      
      padding: 5px;
      background-color: hsl(25, 100%, 94%) ;
  }
  button{
    background-color:  hsl(26, 100%, 55%);
    border: 2px;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 20px;
  }
  .profile2{
      margin: 0;
      padding: 0;
  }
  @media only screen and (max-width:350px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container{
        width: 80vw;
        height: 80vh;
        margin: 30px;
        margin-left: 100px;
        display: none;
    }
    .detail{
        display: flex;
        flex-direction: column;
    }
    .profile{
        display: flex;
        flex-direction: column;
        width: 95%;
         
      }
    .nav{
        display: flex;
        flex-direction: column;
    }
    

}